* {
  margin: 0;
  box-sizing: border-box;
}

.app {
  padding: 10px 40px;
}

.app__table {
  margin: 8px;
}

.transaction__table {
  align-self: center;
}

.dialog {
  padding: 30px 50px;
  width: 50vw;
}

.bg {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("mai.jpg");
  background-size: cover;
}

.ReportsPage__listItem {
  cursor: pointer;
}

.ReportsPage__listItem:hover {
  color: blue;
}

.ReportsPage__listItem_selected {
  background: rgb(203, 203, 251);
}

.yc-table__table thead tr:first-of-type th:first-of-type span {
  display: none;
}
